<div class="container-fluid navbar" data-controller="hamburger">
  <%= link_to "/" do %>
    <%= image_tag "laud-logo.png", id: "logo" %>
  <% end %>
  <div class='navbar-right-container'>
    <nav class="non-mobile-nav">
      <%= button_to 'Sign in', '/auth/auth0', method: :post, data: { turbo: 'false' }, class: 'btn-primary-small', id: 'qsLoginBtn' unless session[:userinfo].present? %>
      <% if session[:userinfo] %>
          <%= button_to 'Log out', '/auth/logout', method: :get, data: { turbo: 'false' }, class: 'btn-primary-small' %>
      <% end %>
    </nav>
    <button class="hamburger" data-hamburger-target="hamburger"  data-action="click->hamburger#fire">
      <div class="bar"></div>
    </button>
  </div>
  <nav class="mobile-nav" data-hamburger-target="mobileNav">
    <div class="mobile-nav-top-login">
      <%= button_to 'Sign in', '/auth/auth0', method: :post, data: { turbo: 'false' }, class: 'btn-primary-large', id: 'qsLoginBtn' unless session[:userinfo].present? %>
      <% if session[:userinfo] %>
        <%= button_to 'Log out', '/auth/logout', method: :get, data: { turbo: 'false' }, class: 'btn-primary-large' %>
      <% end %>
    </div>
    <div class="mobile-nav-links">
      <%= link_to "Review", root_path %>
      <%= link_to "Plan", root_path %>
    </div>
  </nav>
</div>
